<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <header data-bind="template: '_header'"></header>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <article data-bind="module: { name: currentModule }"></article>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <footer data-bind="template: '_footer'"></footer>
        </div>
    </div>
</div>
